body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template: repeat(14, 1fr) / repeat(12, 1fr);
    grid-gap: 3px;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.a {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: #DEC5E3;
}

.b {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 8;
    background-color: #CDEDFD;
}

.c {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 8;
    grid-column-end: 10;
    background-color: #B6DCFE;
}

.d {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 10;
    grid-column-end: 12;
    background-color: #A9F8FB;
}

.e {
    grid-row: 4 / 6;
    grid-column: 3 / 6;
    background-color: #81F7E5;
}

.f {
    grid-area: 5 / 6 / 9 / 10;
    background-color: #DEC5E3;
}

.g {
    grid-area: 6 / 4 / 10 / 6;
    background-color: #CDEDFD;
}

.h {
    grid-area: 7 / 10 / 9 / 12;
    background-color: #B6DCFE;
}

.i {
    grid-area: 9 / 6 / 11 / 8;
    background-color: #A9F8FB;
}

.j {
    grid-area: 9 / 8 / 11 / 10;
    background-color: #81F7E5;
}

.k {
    grid-area: 9 / 10 / 11 / 12;
    background-color: #DEC5E3;
}

.l {
    grid-area: 10 / 3 / 12 / 6;
    background-color: #DEC5E3;
}

.m {
    grid-area: 11 / 6 / 14 / 12;
    background-color: #B6DCFE;
}